.header {
    height: 6.944444444444445vh;
    padding-top: 3.0555555555555554vh;
    padding-left: 2.3046875vw;
    padding-right: 2.3046875vw;
    justify-content: center;
}

.logo{
    height: 4.861111111111111vh;
}